<md-toolbar>
    <div>
        <a href="" [routerLink]="['/']" routerLinkActive="active">
            Twist
        </a>
    </div>

    <div>
        <a href="#" [routerLink]="['/events']">
            Evenement
        </a>
    </div>

    <div>
        <a href="#" [routerLink]="['/artists']">
            Artistes
        </a>
    </div>

    <div>
        <a href="#" [routerLink]="['/friends']">
            Amis
        </a>
    </div>

    <span class="space"></span>
    <div>
        <a>
            Connexion
        </a>
    </div>
    <div>
        <a>
            S'inscrire
        </a>
    </div>
    <div class="username">
        Axel BOURSET        
    </div>
    <div class="icon">            
    </div>
</md-toolbar>